<div class="page-header">
	<div class="navbar navbar-inverse shadow-z-1 navbar-fixed-top">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" style="margin-left:20px;" href="/">
	        <b> GDG Santiago Chile</b></a>
	    </div>
	    <div class="navbar-collapse collapse navbar-warning-collapse">
	    	<ul class="nav navbar-nav">
				<li><%= link_to "Noticias", articles_path %></li>
				<li><a href="#">Eventos</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Sobre GDG</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
	            <li class="dropdown">
	                <% if user_signed_in? %>
	                	<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
	                		<%= current_user.email %> <b class="glyphicon glyphicon-option-vertical"></b>
	                	</a>
	                	<ul class="dropdown-menu">
	                		<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
	                	</ul>
                	<% else %>
                		<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                		  	Entrar <b class="glyphicon glyphicon-option-vertical"></b>
                		</a>
                		<ul class="dropdown-menu">
		                	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
		                	<li><%= link_to "Crear cuenta", new_user_registration_path %></li>
                		</ul>
	                <% end %>
	            </li>
	        </ul>
	    </div>
	</div>
</div>