<div class="panel">
	<div class="panel-body">
		<h1><%= name %></h1>
		<%= form_for(@event) do |f| %>
			<% @event.errors.full_messages.each do |message| %>
				<div class="alert alert-warning">
					* <%= message %>
				</div>
			<% end %>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:title, 'Título') %>
				<%= f.text_field :title, placeholder: 'Nombre del evento', class:'form-control' %>
			</div>
			<div class="form-group form-group-material-indigo">
				<b>Portada:</b> <%= f.file_field :cover %>
			</div>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:body, 'Descripción') %>
				<%= f.text_area :body, placeholder: 'Escribe la descripción del evento', class:'form-control', rows: 20 %>
			</div>
			<div class="form-group">
				<%= f.submit 'Guardar', class:'btn btn-success' %>
			</div>
		<% end %>
	</div>
</div>