<div class="panel">
	<div class="panel-body">
		<h1><%= name %></h1>
		<%= form_for(@event, html: {id: 'events_form'}) do |f| %>
			<% @event.errors.full_messages.each do |message| %>
				<div class="alert alert-warning">
					* <%= message %>
				</div>
			<% end %>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:title, 'Título') %>
				<%= f.text_field :title, placeholder: 'Nombre del evento', class:'form-control' %>
			</div>
			<div class="form-group form-group-material-indigo">
				<b>Portada:</b> <%= f.file_field :cover %>
			</div>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:body, 'Descripción') %>
				<div id="epiceditor" style="height:250px;"></div>
				<%= f.hidden_field :body, id: 'event-body' %>
				<%= f.hidden_field :markup_body, id: 'event-body-markup' %>
			</div>
			<div class="form-group">
				<%= f.submit 'Guardar', class:'btn btn-success' %>
			</div>
		<% end %>
	</div>
</div>

<script>
	var editor = new EpicEditor({
		textarea: 'event-body-markup',
		file: {
			name: 'new_event',
		},
	}).load();

	$( '#events_form' ).on( 'submit', function () {
		$( '#event-body' ).val( editor.exportFile( 'new_event', 'html' ) );
		$( '#event-body-markup' ).val( editor.exportFile( 'new_event' ) );
	});

</script>
