<div class="panel">
	<div class="panel-body">
		<h1><%= @event.title %></h1>
		<div>
			<p>
				Escrito por: <%= @event.user.email %>
			</p>
			<div class="image image-rounded">
				<%= image_tag @event.cover.url(:thumb) %>
			</div>
			<p>
				Visitas: <%= @event.visits_count %>
			</p>
			<p>
				<%= @event.body %>
			</p>
		</div>
		<div>
			<h3>Comentarios</h3>
			<%= render partial: 'comments/form', locals: {commentable: @event} %>
			<%= render partial: 'comments/comments', locals: {commentable: @event} %>
		</div>
		<div>
			<%= link_to "Editar", edit_event_path(@event) %>
		</div>
	</div>
</div>