<div class="panel">
	<div class="panel-body">
		<h1><%= name %></h1>
		<%= form_for(@about_gdg, html: {id: 'about_form'}) do |f| %>
			<% @about_gdg.errors.full_messages.each do |message| %>
				<div class="alert alert-warning">
					* <%= message %>
				</div>
			<% end %>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:title, 'Título') %>
				<%= f.text_field :title, placeholder: 'Titulo Acerca de GDG', class:'form-control' %>
			</div>
			<div class="form-group form-group-material-indigo">
				<%= label_tag(:body, 'Descripción') %>
				<div id="epiceditor" style="height:250px;"></div>
				<%= f.hidden_field :body, id: 'about-body' %>
				<%= f.hidden_field :markup_body, id: 'about-body-markup' %>
			</div>
			<div class="form-group">
				<%= f.submit 'Guardar', class:'btn btn-success' %>
			</div>
		<% end %>
	</div>
</div>

<script>
	var editor = new EpicEditor({
		textarea: 'about-body-markup',
		file: {
			name: 'new_about',
		},
	}).load();

	$( '#about_form' ).on( 'submit', function () {
		$( '#about-body' ).val( editor.exportFile( 'new_about', 'html' ) );
		$( '#about-body-markup' ).val( editor.exportFile( 'new_about' ) );
	});

</script>
